body,
html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: #424551;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__about {
  padding: 131px 0 161px;
}

.main__directions {
  padding-bottom: 178px;
}

.main__cert {
  margin-bottom: -44px;
}

.main__team {
  padding: 166px 0 180px;
}

.main__testimonials {
  padding-bottom: 195px;
}

.main__companies {
  padding-bottom: 177px;
}

.main__program {
  padding: 116px 0 186px;
}

.main__blog {
  margin-bottom: 214px;
}

.main__info {
  margin-bottom: 180px;
}

.main__questions {
  margin-bottom: 180px;
}

.button {
  display: inline-block;
  padding: 0 40px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  letter-spacing: 0.5px;
  color: #fff;
  line-height: 52px;
  white-space: nowrap;
  transition: all 0.3s;
}

.button:hover {
  transform: scale(1.03);
}

.button--empty {
  background-image: none;
  border-left: 1px solid #ff3f3a;
  border-right: 1px solid #f75e05;
  background-image: -webkit-linear-gradient(left, #ff3f3a, #f75e05),
    -webkit-linear-gradient(left, #ff3f3a, #f75e05);
  background-image: linear-gradient(left, #ff3f3a, #f75e05),
    linear-gradient(left, #ff3f3a, #f75e05);
  background-size: 100% 1px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.02);
}

.tag {
  background: transparent;
  padding: 1px 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  border-radius: 4px;
  white-space: nowrap;
}

/* -------------------------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../images/decor/testi-bg.svg") 50% 50% / cover no-repeat,
    linear-gradient(55.95deg, #ff403a33 0%, #f75e0533 100%);
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-link {
  white-space: nowrap;
  line-height: 1.6;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #ff3f3a;
}

.header__list-item {
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__btn-box {
  display: flex;
  align-items: center;
  padding: 28px;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav::before {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  background: url("../images/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.header__user-nav {
  position: relative;
  white-space: nowrap;
  padding-left: 28px;
}

.header__user-btn {
  line-height: 52px;
  transition: all 0.3s;
}

.header__user-btn:hover {
  color: #ff3f3a;
}

.header__body {
  flex-grow: 1;
  flex-basis: 89vh;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
  margin: auto 0;
}

.header__content {
  max-width: 500px;
  margin-right: 15px;
}

.header__play-btn {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 14px;
}

.header__play-btn svg {
  margin-right: 16px;
  border-radius: 50%;
  transition: all 0.3s;
}

.header__play-btn:hover svg {
  box-shadow: 0 0 0 16px #ff3f381f;
}

.header__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.header__content-buttons {
  display: flex;
  margin-top: 60px;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1e212c;
  margin: 40px 0 80px;
}

.header__row > span {
  margin: 0 15px;
  background: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.header__row-item span {
  margin-right: 12px;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}

.header__row-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
}

.about__createx img {
  margin-left: 30px;
}

.about__createx-content {
  max-width: 600px;
}

.heading {
  color: #1e212c;
}

.heading__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

.heading__text--center {
  text-align: center;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.about__text--accent {
  margin: 48px 0 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.about__content-buttons {
  display: flex;
}

.about__content-btn {
  margin-right: 24px;
  margin-top: 60px;
}

.about__content-btn:last-child {
  margin-left: 0;
}

.about__values {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.about__image-box img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;
}

.about__number {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  margin-right: 16px;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.3;
  color: #ff3f3a;
  letter-spacing: 1px;
}

/* ------------------------------------------------------------------------------- */

.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: -190px;
  width: 136px;
  height: 115px;
  background: url("../images/decor/2.svg") 0 0 no-repeat;
}

.directions__inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 400px;
  left: 1450px;
  width: 243px;
  height: 243px;
  background: url("../images/decor/3.svg") 0 0 no-repeat;
}

.directions__heading {
  margin-bottom: 88px;
}

.directions__body {
}

.directions__filter-box {
  /* max-width: 767px; */
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.directions__filter-item {
  margin: 0 45px 15px 0;
}

.directions__filter-item:last-child {
  margin-right: 45px;
}

.directions__filter-btn {
  white-space: nowrap;
  color: #9a9ca5;
  border: 1px solid #9a9ca5;
}

.directions__filter-btn--active {
  border: none;
  padding: 1px 9px;
  color: #fff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  transition: color 0.3s;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-item--marketing .directins__link-tag {
  background: #03cea4;
}

.directions__list-item--management .directins__link-tag {
  background: #5a87fc;
}

.directions__list-item--hr .directins__link-tag {
  background: #f89828;
}

.directions__list-item--design .directins__link-tag {
  background: #f52f6e;
}

.directions__list-item--development .directins__link-tag {
  background: #7772f1;
}

.directins__list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 1s;
}

.directins__list-link:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: all 0.3s;
}

.directins__image-box img {
  width: 100%;
  min-height: 100%;
}

.directins__link-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e5e8ed;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.directins__link-tag {
  color: #fff;
  margin-bottom: 20px;
  align-self: flex-start;
  background: #7772f1;
}

.directins__link-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #787a80;
}

.directins__link-btn {
  display: flex;
  color: #1e212c;
}

.directins__list-link:hover .directins__link-btn {
  color: #ff3f3a;
  transition: 0.3s;
}

.directins__link-btn::after {
  content: "";
  display: block;
  margin-left: 11px;
  width: 24px;
  height: 24px;
  background: url("../images/icons/arrow-right.svg") 0 -3px / 100% no-repeat;
}

.directions__list-item--empty {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #f4f5f7;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #424551;
}

.directions__list-item--empty span {
  max-width: 240px;
}

/* ======================================================================================= */
/* ======================================================================================= */

.cert__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cert__content {
  max-width: 392px;
}
.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 32px;
}
.cert__logo {
  display: flex;
}
.cert__logo-items {
  margin-right: 40px;
}
.cert__logo-items:last-child {
  margin-right: 0;
}
.cert__image-box {
  margin-left: 30px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}

.cert__image-box img {
  width: 100%;
  height: 100%;
}

.cert__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -190px;
  width: 60px;
  height: 60px;
  background: url("../images/decor/4.svg") 0 0 no-repeat;
}

/* ====================================================================================== */
/* ====================================================================================== */

.team {
  background: url("../images/decor/team-bg.svg") calc(50% + 160px)
      calc(50% + -140px) no-repeat,
    #f4f5f7;
}

.team__heading {
  position: relative;
  margin-bottom: 60px;
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover .team__sotials {
  transform: translateY(0);
}

.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team__info {
  text-align: center;
}

.team__name {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.team__post {
  font-weight: 400;
  line-height: 1.6;
  color: #787a80;
}

.team__sotials {
  display: flex;
  position: absolute;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(30, 33, 44, 0) 43.9%,
    rgba(30, 33, 44, 0.03) 55.21%,
    rgba(30, 33, 44, 0.33) 68.73%,
    rgba(30, 33, 44, 0.56) 76.17%,
    rgba(30, 33, 44, 0.768225) 83.75%,
    rgba(30, 33, 44, 0.92) 91.49%,
    #1e212c 100%
  );
  transform: translateY(50%);
  transition: all 0.3s;
}

.team__sotials-item {
  margin-right: 13px;
}

.team__sotials-item:last-child {
  margin-right: 0;
}

.team__sotials-link {
  display: block;
  line-height: 0;
}

.team__sotials-link path {
  transition: all 0.3s;
}

.team__sotials-link:hover path {
  fill: #fff;
}

.team__arrows {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
}

.team__arrow {
  display: block;
  line-height: 0;
  position: relative;
  z-index: 3;
}

.team__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ff3f3a;
  transition: all 0.3s;
}

.team__arrow:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.team__arrow:hover path {
  position: relative;
  fill: #fff;
}

.team__arrow-prev {
  margin-right: 30px;
}

.team__dots {
  display: none;
}

/*======================================================TESTIMONIALS======================================================================*/
/*======================================================TESTIMONIALS======================================================================*/

.testimonials {
  position: relative;
  background: #f4f5f7;
}

.testimonials::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-45%, -56%);
  position: absolute;
  background: url("../images/decor/testi-bg.svg") 0 0 / 100% no-repeat;
  width: 1971px;
  height: 816px;
}

.testimonials__inner {
  position: relative;
  z-index: 1;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  position: relative;
  padding: 0 50px;
  margin-bottom: 45px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.testimonials__slide {
  background: #ffffff;
  padding: 64px;
  border-radius: 4px;
}

.testimonials__slide-inner {
  margin: 0 auto;
  max-width: 810px;
  padding-left: 58px;
}

.testimonials__quote {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -58px;
  background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.testimonials__avatar img {
  width: 100%;
  height: 100%;
}

.testimonials__user-info {
  margin-left: 20px;
}

.testimonials__user-name {
  line-height: 1.6;
  color: #1e212c;
  margin-bottom: 4px;
}

.testimonials__user-position {
  font-size: 14px;
  color: #787a80;
}

.testimonials__arrow {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  align-items: center;
  z-index: 3;
}

.testimonials__arrow-prev {
  left: 0;
}

.testimonials__arrow-next {
  right: 0;
  justify-content: flex-end;
}

.testimonials__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ff3f3a;
  z-index: -1;
  transition: all 0.3s;
}

.testimonials__arrow-prev::before {
  transform: translate(-50%, -50%) scale(0);
  left: 23%;
}

.testimonials__arrow-next::before {
  transform: translate(50%, -50%) scale(0);
  right: 23%;
}

.testimonials__arrow-prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__arrow-next:hover::before {
  transform: translate(50%, -50%) scale(1);
}

.testimonials__arrow path {
  transition: all 0.3s;
}

.testimonials__arrow:hover path {
  fill: #fff;
}

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 12px;
}

.testimonials__dots button {
  background-color: transparent;
  font-size: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #b3b7bc;
  transition: all 0.3s;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
}

/*======================================================LOGOS======================================================================*/
/*======================================================LOGOS======================================================================*/

.companies {
  background: #f4f5f7;
}

.companies__inner {
  position: relative;
}

.companies__inner::before {
  content: "";
  position: absolute;
  background: url("../images/decor/5.svg") 0 0 / 100% no-repeat;
  bottom: -80px;
  left: -230px;
  width: 90px;
  height: 90px;
}

.companies__heading {
  margin-bottom: 60px;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, 64px) / repeat(6, 1fr);
  gap: 40px 102px;
  /* display: flex;
  flex-wrap: wrap;
  gap: 40px 102px; */
}

.companies__grid-link {
  display: block;
}

.companies__grid-link img {
  filter: grayscale(1);
  opacity: 0.4;
  transition: all 0.7s;
}

.companies__grid-link:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.3s;
}

/*======================================================PROGRAM======================================================================*/
/*======================================================PROGRAM======================================================================*/

.program__inner {
  display: flex;
  justify-content: space-between;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc {
  width: 600px;
}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-link {
  display: block;
  padding-left: 40px;
}

.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc-head {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}

.program__acc-head::before,
.program__acc-head::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  border-radius: 2px;
  width: 18px;
  height: 2px;
  background-color: #ff3f3a;
}

.program__acc-head::after {
  transform: rotate(90deg);
  transition: all 0.4s;
}

.program__acc-head span {
  font-weight: 400;
  color: #ff3f3a;
}

.program__acc-text {
  margin-top: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.program__acc-link--active .program__acc-head::after {
  transform: rotate(0deg);
}

.program__image {
  margin-left: 50px;
  margin-top: 70px;
}

/*======================================================BLOG======================================================================*/
/*======================================================BLOG======================================================================*/

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.blog__heading {
  margin-right: 30px;
}

.blog__row {
  display: flex;
  margin: 0 -15px;
}

.blog__item {
  padding: 0 15px;
}

.blog__link {
  display: block;
  transition: all 1s;
}

.blog__link:hover {
  box-shadow: 0px 30px 80px 30px rgb(154 156 165 / 8%);
  transition: all 0.3s;
}

.blog_item-inner {
  max-width: 390px;
}

.blog__image-box {
  position: relative;
}

.blog__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.blog__item-type {
  display: flex;
  position: absolute;
  align-items: center;
  top: 12px;
  left: 12px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 1px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}

.blog__item-type::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.blog__item-info {
  display: flex;
  align-items: center;
  color: #787a80;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0 -12px 8px;
}

.blog__category {
  font-weight: 700;
}

.blog__date {
  display: flex;
  align-items: center;
}

.blog__date::before {
  content: "";
  display: block;
  background: url("../images/icons/calendar-icon.svg");
  width: 16px;
  height: 15px;
  margin-right: 9px;
}

.blog__time {
  display: flex;
  align-items: center;
}

.blog__time::before {
  content: "";
  display: block;
  background: url("../images/icons/clock-icon.svg");
  width: 16px;
  height: 15px;
  margin-right: 9px;
}

.blog__el {
  position: relative;
  padding: 0 12px;
}

.blog__el::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 1px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #787a80;
  border-radius: 1px;
}

.blog__el:last-child:after {
  content: none;
}

.blog__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}

.blog__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}

.blog__item-button {
  display: flex;
  align-items: center;
}

.blog__link:hover .blog__item-button {
  color: #ff3f3a;
  transition: all 0.3s;
}

.blog__item-button::after {
  content: "";
  background: url(../images/icons/arrow-right.svg);
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.blog__item-podcast .blog__item-type::before {
  background: url("../images/icons/podcast-icon.svg") 0 0 / 100% no-repeat;
}
.blog__item-video .blog__item-type::before {
  background: url("../images/icons/play-mini.svg") 0 0 / 100% no-repeat;
}
.blog__item-article .blog__item-type::before {
  background: url("../images/icons/article-icon.svg") 0 0 / 100% no-repeat;
}

/*======================================================INFO======================================================================*/
/*======================================================INFO======================================================================*/

.info {
}

.info__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.info__content {
  margin-right: 50px;
}
.info__heading {
  margin-bottom: 40px;
}

.info__contact {
  margin-bottom: 48px;
}
.info__contact-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
  padding-left: 35px;
}

.info__contact-item {
  position: relative;
}

.info__contact-item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.info__contact--mail {
}
.info__contact-header {
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.info__contact-link {
  transition: all 0.2s;
}

.info__contact-link:hover {
  color: #ff3f3a;
}

.info__contact--mail::before {
  background: url("../images/icons/chat-icon.svg") 0 0 / 100% no-repeat;
}
.info__contact--tel::before {
  background: url("../images/icons/phone-icon.svg") 0 0 / 100% no-repeat;
}
.info__contact--address::before {
  background: url("../images/icons/mark-icon.svg") 0 0 / 100% no-repeat;
}
.address {
}

.info__sotials {
}

.info__sotials-heading {
  margin-bottom: 24px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}

.info__sotials-row {
  display: flex;
}

.info__sotials-item {
  margin-right: 32px;
}

.info__sotials-link path {
  transition: all 0.2s;
}

.info__sotials-link:hover path {
  fill: #ff3f3a;
}

.info__sotials-item:last-child {
  margin-right: 0;
}

.info__sotials-link {
}

.info__map {
  max-width: 705px;
  width: 100%;
  height: 412px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

/*======================================================QUESTIONS======================================================================*/
/*======================================================QUESTIONS======================================================================*/

.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__image {
  margin-right: 30px;
}

.questions__image img {
  width: 100%;
  height: 100%;
}

.questions__heading {
  margin-bottom: 40px;
}

.questions__form {
  font-weight: 400;
  line-height: 160%;
}

.questions__form-row:last-child {
  margin: 48px 0 0;
}

.questions__form-row {
  display: flex;
  margin-bottom: 24px;
}

.questions__label-input {
  flex: 1 100%;
  margin-right: 25px;
}

.questions__label-input:last-child {
  margin-right: 0;
}

.questions__form-input {
  width: 100%;
  margin-top: 8px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 13px 16px;
  resize: none;
  color: #424551;
}

.questions__form-input::placeholder {
  color: #9a9ca5;
}

.questions__label-input textarea {
  min-height: 128px;
}

.questions__label-checkbox {
  display: flex;
  width: 100%;
  margin-right: 50px;
}

.questions__checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin: 5px 12px 0 0;
}

.questions__checkbox-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.questions__checkbox-default:checked + .questions__checkbox-custom {
  background: url("../images/icons/check.svg") 50% 50% / 62% no-repeat, #ff3f3a;
  padding: 4px 3px;
  border: none;
}

.questions__checkbox-custom {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #d7dadd;
  border-radius: 3px;
}

.questions__btn {
  width: 100%;
  align-self: center;
  padding: 0;
}

/*======================================================FOOTER======================================================================*/
/*======================================================FOOTER======================================================================*/

.footer {
  color: #ffffff;
}

.footer__top {
  background-color: #1e212c;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 60px;
  margin: 0 -15px;
}

.footer__top-col {
  padding: 0 15px;
}

.footer__top-col:first-child {
  max-width: 310px;
}

.footer__top-col:last-child {
  max-width: 315px;
}

.footer__top-logo {
  display: block;
  margin-bottom: 24px;
}

.footer__top-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 38px;
}

.footer__sotials-row {
  display: flex;
}

.footer__sotials-item {
  margin-right: 20px;
}

.footer__top-col .footer__sotials-item:last-child {
  margin-right: 0;
}

.footer__sotials-link path {
  transition: all 0.3s;
}

.footer__sotials-link:hover path {
  fill: #ffffff;
}

.footer__top-title {
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 12px;
}

.footer__top-col:last-child .footer__top-title {
  white-space: normal;
  margin-bottom: 24px;
}

.footer__top-item {
  font-weight: 400;
  line-height: 160%;
}

.footer__top-link {
  display: flex;
  opacity: 0.6;
  transition: all 0.3s;
}

.footer__top-link:hover {
  opacity: 1;
}

.footer__top-link svg {
  /* display: flex; */
  margin-right: 8px;
  align-self: center;
}

.footer__form {
}

.footer__form-inner {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.footer__input {
  padding: 9px 4px 9px 12px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 150%;
  background: transparent;
}

.footer__input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.footer__form-btn {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background: url("../images/icons/arrow-right-mini.svg") 0 0 / 100% no-repeat;
  transition: all 0.3s;
}

.footer__form-btn:hover {
  transform: scale(1.2);
}

.footer__form-desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}

.footer__bottom {
  background-color: #292c37;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  padding: 19px 0;
}

.footer__bottom-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.footer__bottom-text span {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  background: url("../images/icons/heart-icon.svg") 0 0 / 100% no-repeat;
}

.footer__bottom-link {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.6;
  transition: all .3s;
}

.footer__bottom-link:hover {
  opacity: 1;
}

/* ===================================MEDIA==================================== */
/* ===================================MEDIA==================================== */


/* ==============================1200=================================== */

@media screen and (max-width: 1200px) {

  .header__body-inner {
    padding-top: 50px;
  }

  .header__title {
    font-size: 50px;
  }

  .header__image {
    max-width: 450px;
  }

  .header__row {
    margin-top: 0;
  }

  /* ------------------------------ABOUT------------------------------ */

  .main__about {
    padding: 65px 0 80px;
  }

  .heading__subtitle {
    font-size: 14px;
  }

  .heading__title {
    font-size: 36px;
  }

  .about__text {
    font-size: 14px;
  }

  .about__text--accent {
    font-size: 16px;
    margin: 35px 0 16px;
  }

  .about__content-btn {
    margin-top: 42px;
  }

  .about__createx {
    margin-bottom: 100px;
  }

  .about__values {
    justify-content: flex-start;
  }

  .about__image-box {
    max-width: 600px;
    margin-right: 30px;
  }

  .about__number span {
    font-size: 35px;
  }

  /* ------------------------------DIRECTIONS------------------------------------ */

    .directions__list {
      gap: 20px 10px;
    }

    .directins__link-content {
      padding: 24px 5px 5px;
    }

    .directions__heading {
      margin-bottom: 40px;
    }

    .directions {
      padding-bottom: 80px;
    }

}

/* ==============================1200=================================== */

@media screen and (max-width: 1200px) {

  .header__top {
    display: flex;
    position: fixed;
    min-width: 400px;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    transform: translateX(100%);
    transition: transform .3s;
  }

  .header__top--open {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000008c;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }

  .burger-menu {
    position: fixed;
    display: flex;
    align-items: center;
    right: 0;
    z-index: 101;
    width: 30px;
    height: 20px;
    transition-duration: 1s;
    cursor: pointer;
    width: 80px;
    height: 60px;
    border-bottom-left-radius: 50%;
    margin: 0;
    justify-content: center;
  }

  .burger-menu--follow {
    background-color: #feddcf;
    box-shadow: 0 0 20px 0 #4245513f;
  }

  .burger-menu--active {
    background-color: #fff;
    box-shadow: none;
  }

  .burger-menu span {
    height: 3px;
    width: 30px;
    background-color: #424551;
    border-radius: 3px;
    position: absolute;
    transition-duration: .25s;
    transition-delay: .25s;  
  }
  
  .burger-menu span::after {
    left: 0;
    position: absolute;
    top: 10px;
    height: 3px;
    width: 30px;
    background-color: #424551;
    content: "";
    border-radius: 3px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
  }

  .burger-menu span::before {
    left: 0;
    position: absolute;
    top: -10px;
    height: 3px;
    width: 30px;
    background-color: #424551;
    content: "";
    border-radius: 3px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
  }

  .burger-menu--active span {
    transition-duration: 0.1s;
    transition-delay: .25s;
    background: transparent;
  }

  .burger-menu--active span::before {
    transition: top .25s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(-45deg);
  }
  
  .burger-menu--active span::after {
    transition: top 0.4s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(45deg);
  }

  .header__top-inner {
    display: flex;
    height: 100%;
    padding: 50px 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
  }

  .header__nav {
    margin: 0;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .header__list-item {
    margin: 0;
  }

  .header__nav-link {
    display: block;
    padding: 30px;
  }

  .header__btn-box {
    flex-direction: column-reverse;
    padding: 0;
  }

  .header__top-btn {
    margin: 10px 0 0;
  }

  /* ---------------------------HEADER------------------------------- */

}

/* ==============================1000=================================== */

@media screen and (max-width: 1000px) {

  .header__body-inner{
    padding: 0;
  }

  .header__main {
    justify-content: space-evenly;
  }

  .header__title {
    font-size: 40px;
  }

  .header__image {
    max-width: 400px;
  }

  .header__row {
    display: none;
    justify-content: space-evenly;
  }

    /* ------------------------------ABOUT------------------------------ */
  
  .heading__subtitle {
    font-size: 14px;
  }

  .heading__title {
    font-size: 28px;
  }

  .about__text {
    font-size: 14px;
  }

  .about__text--accent {
    font-size: 16px;
  }

  .about__createx-content {
    min-width: 400px;
  }

  .about__createx img {
    max-width: 400px;
  }

  /* ------------------------------CERTIFICATE------------------------------------ */

  .cert__heading {
    text-align: center;
  }

  .cert__inner {
    flex-direction: column;
    align-items: center;
  }

  .cert__image-box {
    margin: 30px 0 0;
  }

  .team {
    padding: 140px 0 80px;
  }
}

/* ==============================900=================================== */

@media screen and (max-width: 900px) {

  .header__main {
    display: block;
  }

  .header__content {
    margin: 0;
  }

  .header__title {
    font-size: 35px;
  }

  .header__image {
    display: none;
  }

  .header__row {
    display: none;
  }

    /* ------------------------------ABOUT------------------------------ */

  .about__createx img,
  .about__image-box {
    display: none;
  }

  .about__numbers {
    display: flex;
    flex-direction: column;
    margin: 0;

  }

  .about__number {
    margin: 0;
  }

  .about__createx {
    margin-bottom: 90px;
  }
  /* ------------------------------DIRECTIONS------------------------------------ */

  .directions__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }

}


/* ==============================700=================================== */

@media screen and (max-width: 700px) {
  
  .header__top {
    min-width: 100vw;
  }

  /* ------------------------------DIRECTIONS------------------------------ */

  .directions__list {
    grid-template: none;
  }

  .directions__list-item--empty span {
    display: none;
  }

  .directions__filter-item {
    margin-right: 25px;
  } 

  /* ------------------------------TEAM------------------------------ */

  .team__heading {
    margin-bottom: 40px;
  }

  .team__arrows {
    display: none;
  }

  .team__dots {
    display: block;
  }

  .team__image-box {
    max-width: 250px;
    margin: 0 auto 16px auto;
  }

  .team__slider {
    margin-bottom: 10px;
  }
  
  .team__slider .slick-track {
    padding: 5px;
  }

  .team__slide {
    padding: 0 10px;
}

  .team__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team__dots li {
    margin-right: 0;
  }
  
  .team__dots button {
    background-color: transparent;
    font-size: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team__dots button::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #b3b7bc;
    transition: all 0.3s;
  }
  
  .team__dots .slick-active button::before {
    background-color: #424551;
  }

  /* ------------------------------TESTIMONIALS------------------------------ */

  .testimonials::before {
    display: none;
  }

  .testimonials__heading {
    margin-bottom: 40px;
  }

  .testimonials__slider-wrapper {
    padding: 0;
    margin-bottom: 30px;
  }

  .testimonials__slide {
    padding: 30px;
  }

  .testimonials__slide-inner {
    padding-left: 35px;
  }

  .testimonials__quote {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .testimonials__quote::before {
    left: -45px;
    width: 25px;
  }

  .testimonials__avatar {
    width: 60px;
    height: 60px;
  }

  .testimonials__arrow {
    display: none;
  }
}

/* ==============================500=================================== */

@media screen and (max-width: 500px) {

  .header__content {
    height: 55vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .header__content-buttons {
    flex-direction: column;
    margin-top: 40px;
  }

  .header__title {
    text-align: center;
  }

  .header__play-btn {
    margin: 0;
  }

  /* ------------------------------ABOUT------------------------------ */

  .header__content-buttons {
    flex-direction: column;
    width: 80%;
    align-items: stretch;
    text-align: center;
    margin: 0;
  }

  .header__content-btn {
    margin: auto 0;
    width: 100%;
  }

  .header__content-btn:first-child {
    margin-bottom: 20px;
  }

  .header__title {
    font-size: 30px;
  }

  .about__content-buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .about__content-btn {
    margin: 0;
    width: 80%;
  }

  .about__content-btn:first-child {
    margin: 30px 0 20px;
  }

  .about__values {
    justify-content: space-around
  }

   /* ------------------------------TESTIMONIALS------------------------------ */

  .testimonials__slider-wrapper {
    margin-bottom: 20px;
  }

  .testimonials__slide {
    padding: 20px 10px;
  }

  /* .testimonials__slide-inner {
    padding-left: 35px;
  } */

  .testimonials__quote {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .testimonials__quote::before {
    left: -30px;
    width: 20px;
  }

  .testimonials__dots li {
    margin-right: 6px;
  } 

  .testimonials__dots button::before {
    width: 20px;
  }

}
